<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Training Center Home page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
  <h1>Prime Intuit</h1>
  <img src="{% static 'images/pi_logo.jpeg' %}" alt = 'image not found'>
  <p>One of the finest finshing school</p>
  <p>Data Specialization program</p>
  {{insert_me}}

  <div class = "Batch_Table">

    {% if access_record %}
    <table>
      <thead>
      <th> Batch ID </th>
      <th> Course ID </th>
      <th> Start Date </th>
      <th> End Date </th>
      </thead>
      {% for b in access_record %}
      <tr>
        <td>{{b.batch_ID}}</td>
        <td>{{b.course_ID}}</td>
        <td>{{b.start_date}}</td>
        <td>{{b.end_date}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p> No Batch records found </p>
    {% endif %}
  </div>

  </body>
</html>
